header {
    position: fixed;
    background-color: rgb(153, 0, 255);
    width: 100%;
    height: 100px;
}

nav {

    position: absolute;
    top: 25px;
    margin-left: 120px;

}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

.logo {
    margin-top: -30px;
    margin-left: -450px;
}

main{
    display: flex;
    background-color: rgba(196, 108, 255, 0.63);
    width: 100%;
    height: auto;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    
}


body, html{
    margin: 0px;
}


p{
    font-size: large;
    font-style:oblique;

}


article{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 30vw;
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 200px;
}
   

.aboutus{
    margin-top: 100px;
    height: 100%;
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.imagem{
    height: 415px ;
    width: 630px;
}
hr{
   border:20px black solid;
   width: 100vw;
   margin:0px
}